///
/// Relativity by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* List */

	ol {
		list-style: decimal;
		margin: 0 0 _size(element-margin) 0;
		padding-left: 1.25rem;

		li {
			padding-left: 0.25rem;
		}
	}

	ul {
		list-style: disc;
		margin: 0 0 _size(element-margin) 0;
		padding-left: 1rem;

		li {
			padding-left: 0.5rem;
		}

		&.alt {
			list-style: none;
			padding-left: 0;

			li {
				border-top: solid 1px;
				padding: 0.5rem 0;

				&:first-child {
					border-top: 0;
					padding-top: 0;
				}
			}
		}

		&.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;

			li {
				display: inline-block;
				padding: 0 1.25rem 0 0;

				&:last-child {
					padding-right: 0;
				}

				.icon {
					&:before {
						font-size: 1.375rem;
					}
				}
			}
		}

		&.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;

			li {
				display: inline-block;
				padding: 0 (_size(element-margin) * 0.5) 0 0;
				vertical-align: middle;

				&:last-child {
					padding-right: 0;
				}
			}

			&.small {
				li {
					padding: 0 (_size(element-margin) * 0.25) 0 0;
				}
			}

			&.vertical {
				li {
					display: block;
					padding: (_size(element-margin) * 0.5) 0 0 0;

					&:first-child {
						padding-top: 0;
					}

					> * {
						margin-bottom: 0;
					}
				}

				&.small {
					li {
						padding: (_size(element-margin) * 0.25) 0 0 0;

						&:first-child {
							padding-top: 0;
						}
					}
				}
			}

			&.fit {
				display: table;
				margin-left: (_size(element-margin) * -0.5);
				padding: 0;
				table-layout: fixed;
				width: calc(100% + #{(_size(element-margin) * 0.5)});

				li {
					display: table-cell;
					padding: 0 0 0 (_size(element-margin) * 0.5);

					> * {
						margin-bottom: 0;
					}
				}

				&.small {
					margin-left: (_size(element-margin) * -0.25);
					width: calc(100% + #{(_size(element-margin) * 0.25)});

					li {
						padding: 0 0 0 (_size(element-margin) * 0.25);
					}
				}
			}
		}

		&.faces {
			@include vendor('display', 'flex');
			@include vendor('align-items', 'center');
			@include vendor('justify-content', 'center');
			@include vendor('flex-wrap', 'wrap');
			list-style: none;
			padding-left: 0;

			li {
				@include vendor('display', 'flex');
				@include vendor('flex-direction', 'column');
				@include vendor('align-items', 'center');
				padding-left: 0;
				text-align: center;
				margin: 0 (_size(element-margin) * 1.5) 2rem 0;
				width:14.423360952rem;

				&:nth-child(3n) {
					margin-right: 0;
				}

				> :last-child {
					margin-bottom: 0;
				}

				.image {
					border-radius: 100%;
					margin: 0 0 (_size(element-margin) * 0.25) 0;

					a {
						border-bottom: none;
					}

					img {
						border-radius: 100%;
						width: 12rem;
						height:12rem;
					}
				}

				h3 {
					font-size: 0.8rem;
					margin: 0 0 (_size(element-margin) * 0.125) 0;
					text-transform: uppercase;
					letter-spacing: 0.05em;
				}

				p {
					font-size: 0.8rem;
				}
			}

			@include breakpoint(large) {
				li {
					margin: 0 0 2rem (_size(element-margin) * 1.5);
				}
			}

			@include breakpoint(medium) {
				li {
					margin: 0 0 2rem (_size(element-margin) * 1);
				}
			}

			@include breakpoint(small) {
				li {
					.image {
						img {
							width: 6rem;
							height: 6rem;
						}
					}
				}
			}

			@include breakpoint(xsmall) {
				display: block;

				li {
					margin: 0 auto 4rem;
					&:nth-child(3n) {
						margin-right: auto;
					}

					.image {
						img {
							width: 10rem;
							height:10rem;
						}
					}

					h3 {
						font-size: 1rem;
					}

					p {
						font-size: 1rem;
					}

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	dl {
		margin: 0 0 _size(element-margin) 0;

		dt {
			display: block;
			font-weight: _font(weight-bold);
			margin: 0 0 (_size(element-margin) * 0.5) 0;
		}

		dd {
			margin-left: _size(element-margin);
		}
	}

	@mixin color-list($p: null) {
		ul {
			&.alt {
				li {
					border-top-color: _palette($p, border);
				}
			}
		}
	}

	@include color-list;
