{%- if page.layout == "home" -%}
{%- assign header_classes = "alt" -%}
{%- endif -%}
  <header class="{{header_classes}}" role="banner" id="header">
    <!-- Logo -->
    <div class="logo">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}"><img src="{{ "/assets/img/d4d-logo.png" | relative_url }}" alt="{{ site.title | escape }}" /></a>
    </div>
    {%- if site.data.navigation.size > 0 -%}
      <!-- to do: figure out how to manage dropdown -->
      <!-- Nav -->
      <nav id="nav">

        {%- for nav_item in site.data.navigation -%}
          {%- if forloop.first -%}<ul>{%- endif -%}

          {%- assign my_page = site.pages | where: "path", nav_item.path | first -%}

          {%- assign current = page.url | downcase | split: '/' -%}
          {%- assign nav_segments = my_page.url | downcase | split: '/' -%}

          {%- if current[1] == nav_segments[1] -%}
            {%- assign classes = "current" -%}
          {%- else -%}
            {%- assign classes = "" -%}
          {%- endif -%}

          {%- if nav_item.sub_menu -%}
            {%- assign link_classes = "page-link icon fa-angle-down" -%}
            {%- for sub_nav_item in nav_item.sub_menu -%}
              {%- assign sub_page = site.pages | where: "path", nav_item.path | first -%}
              {%- assign nav_segments = sub_page.url | downcase | split: '/' -%}
              {%- if current[1] == nav_segments[1] -%}
                {%- assign classes = "current" -%}
              {%- endif -%}
            {%- endfor -%}
          {%- else -%}
            {%- assign link_classes = "page-link" -%}
          {%- endif -%}

          <li class="{{ classes }}">
            <a class="{{ link_classes }}" href="{{ my_page.url | relative_url }}">
              {{ nav_item.name | escape }}
            </a>
            {%- for sub_nav_item in nav_item.sub_menu -%}
              {%- assign sub_page = site.pages | where: "path", sub_nav_item.path | first -%}
              {%- if forloop.first -%}<ul>{%- endif -%}
                <li>
                  <a href="{{ sub_page.url | relative_url }}">
                    {{ sub_nav_item.name | escape }}
                  </a>
              </li>
              {%- if forloop.last -%}</ul>{%- endif -%}
            {%- endfor -%}
          </li>

          {%- if forloop.last -%}</ul>{%- endif -%}
        {%- endfor -%}
      </nav>
    {%- endif -%}
</header>
