{%- if page.layout == "home" -%}
{%- assign header_classes = "alt" -%}
{%- endif -%}
  <header class="{{header_classes}}" role="banner" id="header">
    <!-- Logo -->
    <div class="logo">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    </div>
    {%- if site.data.navigation.size > 0 -%}
      <!-- to do: figure out how to manage dropdown -->
      <!-- Nav -->
      <nav id="nav">
        <ul>
          {%- for nav_item in site.data.navigation -%}

            {%- assign my_page = site.pages | where: "path", nav_item.path | first -%}

            {%- assign current = page.url | downcase | split: '/' -%}
            {%- assign nav_segments = my_page.url | downcase | split: '/' -%}

            {%- if current[1] == nav_segments[1] -%}
              {%- assign classes = "current" -%}
            {%- else -%}
              {%- assign classes = "" -%}
            {%- endif -%}

            <li class="{{ classes }}"><a class="page-link" href="{{ my_page.url | relative_url }}">{{ nav_item.name | escape }}</a></li>

          {%- endfor -%}
        </ul>
      </nav>
    {%- endif -%}
</header>
