#banner h1 {
  text-transform:none;
}

a.cta {
  color: _palette(accent1, bg);
  border-bottom: 2px solid _palette(accent2, bg);
  display: inline-block;
  @include icon;

  &:before {
    content: '\f178';
    float: right;
    line-height: inherit;
    margin: 0 -0.25rem 0 0.5rem;
  }
}
#wrapper > .main.special {
  input, select, textarea {
    color: _palette(fg-bold);
  }
}
.bio-image {
  border-radius: 100%;
  display: block;
  margin: 0 auto 3rem;
  max-width: 23.4375rem;

  @include breakpoint('xsmall') {
    max-width: 100%;
  }
}

ul.faces {
  li {width:14rem;}
  @include breakpoint('small') {
    li {width:10rem;}
  }
  a {
    border-bottom: none;
    &:hover {
      h3 {
        color: _palette(accent1,bg);
        @include vendor('transition', (
          'color #{_duration(transition)} ease-in-out',
        ));
      }
      img {
        opacity: .3;
        @include vendor('transition', (
          'opacity #{_duration(transition)} ease-in-out'
        ));
      }
    }
    img {backface-visibility: hidden;}
    .image {background:_palette(accent1,bg);}
  }
}

.partners {
  display: flex;
  align-items: top;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;

  .post {
    display: inline-block;
    text-align: center;
    width: 33%;
    padding: _size(element-margin);
    border-style: none;
    margin:0;

    >.content {
      width:auto;
  }

    &.style2 .content {
      padding: _size(element-margin);
    }


  }
}

.partners .post.ifes,
.partners .post.microsoft
{
  width: 66%;
}

.partners .post.techsoup
{
  width: 50%;
}

.partners {
  align-items: center;
  list-style: none outside;
  margin:0;
  padding:0;


  @include breakpoint(medium) {
    .post {
      width: 50%;
    }
    .post.ifes,
    .post.microsoft,
    .post.techsoup {
      width: 100%;
    } 
    .post.idea,
    .post.techsoup
     {
      img {
        max-width: 75%;
      }
    }

  }


  @include breakpoint(small) {
    .post {
      width: auto;
      img {
        max-width: 75%;
      }
    }
    .post.ifes,
    .post.microsoft {
      img {
        max-width: 100%;
      }
    }
    .post.techsoup {
      img {
        max-width: 75%;
      }
    }    
    .post.ndi,
    .post.iri,
    .post.idea,
    .post.ned
    {
      img {
        max-width: 50%;
      }
    }
  }
  
  img {max-width: 100%;}



  
  img[src*="NED"],
  img[src*="IFES"],
  img[src*="ideanew"]
  {
    max-width:75%;
  }


  img[src*="MSFT"]
  {
    max-width:80%;
  }

  img[src*="Twitter"]
  {
    max-width: 60%;

  }
  
  img[src*="facebook"] {
    max-width: 55%;
  }

}



img {max-width: 100%;}

.events {
  .post {
    min-height:auto;
   &.news-brandmark-box {
     border: 1px solid green;
     border-radius: 4px;
     .content {
      padding: 1.25rem;
     }
     .news-brandmark-logo {
      text-align: center;
      img {
        max-height:4.125rem;
      }
     }
   }

    > .content {
      width:100%;
      padding:0 3rem;

      header .category {
        color: _palette(accent1, bg);
      }  
    }
  }
}

.event {
  ul.actions.vertical {
    li {text-align: center;}
  }
}




#tarteaucitronAlertBig #tarteaucitronPersonalize {
  margin-top: .5rem;
}
@include breakpoint(medium) {
  #tarteaucitronDisclaimerAlert {
    display: block;
    line-height: 1.6 !important;
  }
}
