---
layout: default
---
<section class="main alt event" aria-label="Content">
    <header>
      <h2 class="post-title">{{ page.title | escape }}</h2>
      {{ page.intro | markdownify }}
      <p class="post-meta">
        {%- assign date_format = site.relativity.date_format | default: "%b %-d, %Y" -%}
        {{ page.event_date | date: date_format }}
      </p>
    </header>
    <div class="inner style2">
      {%- if page.banner.image -%}
      <div class="image main" data-position="center"><img src="{{ page.banner.image | relative_url }}" alt="" /></div>
      {%- endif -%}
      {{ content }}

      <ul class="actions vertical">
        {%- if page.registration_link -%}
        <li><a href="{{ page.registration_link }}" class="button next">Register Now</a></li>
        {%- endif -%}
        <li><a href="{{ "/news/" | relative_url }}" class="cta">View all News and Events</a></a>
      </ul>
  </div>
</section>
