---
layout: full
---
<div class="wrapper">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}</div>

  {%- if site.bios.size > 0 -%}
    <ul id="og-grid" class="og-grid">
      {%- for bio in site.bios -%}
      <li>
        <a href="{{ bio.url | relative_url }}" data-largesrc="{{ '/assets/img/bios/' | relative_url }}{{ bio.image }}" data-title="{{ bio.title | escape }}" data-description="{{ bio.content }}">
          <img src="{{ '/assets/img/bios/' | relative_url }}{{ bio.image }}" alt="{{ bio.title | escape }}" class="headshot" />
        </a>
        <div class="og-expander">
      		<div class="og-expander-inner">
      			<span class="og-close"></span>
      			<div class="og-fullimg">
      				<div class="og-loading"></div>
      				<img src="{{ '/assets/img/bios' | relative_url }}{{ bio.image }}">
      			</div>
      			<div class="og-details">
      				<h3>{{ bio.title | escape }}</h3>
      				{{ bio.content }}
      				<a href="http://cargocollective.com/jaimemartinez/">Visit website</a>
      			</div>
      		</div>
      	</div>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

<script src="{{ '/assets/js/bios.js' | relative_url }}"></script>
<script>
	$(function() {
		Grid.init();
	});
</script>
