---
layout: full
---
<div class="wrapper">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}</div>

  {%- if site.bios.size > 0 -%}
    <ul id="og-grid" class="og-grid">
      {%- for bio in site.bios -%}
      <li>
        <a href="{{ bio.url | relative_url }}" data-title="{{ bio.title | escape }}">
          <img src="{{ bio.image | relative_url }}" alt="{{ bio.title | escape }}" class="headshot" />
          <div class="bio-meta">
            <h5 style="position:relative; top:-2em; color:black; font-weight:bold;">{{ bio.title | escape }}</h4>
          </div>
        </a>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
