---
layout: page
---
<!-- Section -->
<section class="main">
  <header>
    {{ content }}
  </header>
  <div class="inner">
    {%- if site.bios.size > 0 -%}
    <ul class="faces">
      {%- for bio in site.bios -%}
      <li>
        <a href="{{bio.url | relative_url}}">
          <span class="image"><img src="{{ bio.image | relative_url }}" alt="{{ bio.title | escape }}" /></span>
          <h3>{{ bio.title | escape }}</h3>
          <!--p>Sed magna etiam</p-->
        </a>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
  </div>
</section>
