---
layout: default
---

<div class="bios">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.bios.size > 0 -%}
    <h2 class="bio-list-heading">{{ page.list_title | default: "Bios" }}</h2>
      {%- for bio in site.bios -%}
      <div class="bio">
        <img src="{{ '/assets/img/' | relative_url }}{{ bio.image }}" alt="{{ bio.title | escape }}" class="headshot" />
        <h3>{{ bio.title | escape }}</h3>
          {{ bio.content }}
      </div><!-- .bio -->
      {%- endfor -%}

  {%- endif -%}

</div><!-- .bios -->
