---
layout: page
---
<!-- Section -->
<section class="main">
  <header>
    {{ content }}
  </header>
  <div class="inner events">
    {%- for event in site.events -%}
      <article class="post style2">
        <div class="content">
          <header>
            {%- assign date_format = site.relativity.date_format -%}
            <span class="category">{{ event.event_date | date: date_format }}</span>
            <h3><a class="post-link" href="{{ event.url | relative_url }}">
              {{ event.title | escape }}
            </a></h3>
          </header>
          {{ event.excerpt }}
        </div>
      </article>
    {%- endfor -%}
  </div>
</section>
