---
layout: default
---
<section class="main alt" aria-label="Content">
    <header>
      <h1 class="post-title">{{ page.title | escape }}</h1>
      {{ page.intro | textilize }}
      <p class="post-meta">
        {%- assign date_format = site.relativity.date_format | default: "%b %-d, %Y" -%}
        {{ page.event_date | date: date_format }}
      </p>
    </header>
    {%- if page.banner.image -%}
    <div class="image main" data-position="center"><img src="{{ page.banner.image | relative_url }}" alt="" /></div>
    {%- endif -%}
    <div class="inner style2">
      {{ content }}
      {%- if page.registration_link -%}
      <ul class="actions">
        <li><a href="{{ page.registration_link }}" class="button next">Register Now</a></li>
      </ul>
      {%- endif -%}
      <p><a href="{{ "/events" | relative_url }}" class="">View all Events</a></p>
  </div>
</section>
