---
layout: default
---
<section class="main alt" aria-label="Content">
    <header>
      <h1 class="post-title">{{ page.title | escape }}</h1>
      {{ page.intro | markdownify }}
    </header>
    <div class="image main" data-position="center"><img src="{{ page.banner.image | relative_url }}" alt="" /></div>
    <div class="inner style2">
      {{ content }}

      {%- if page.sections.size > 0 -%}
      {%- for section in page.sections -%}
      <div class="content-section row">
        <div class="section-icon 2u">
          <img src="{{section.icon}}" alt="" />
        </div>
        <div class="section-text 10u">
          <h3>{{ section.title | escape }}</h3>
          {{ section.text | markdownify }}
        </div>
      </div><!-- /content-section -->
      {%- endfor -%}
      {%- endif -%}

      {%- if page.list -%}
        {%- include {{page.list}}.html -%}
      {%- endif -%}
    </div>
</section>
