---
layout: default
---
  {%- include banner.html -%}
  <section class="main alt" id="first" aria-label="Content">
    <header>
      {{ page.intro | markdownify }}
    </header>
    {{ content }}
  </section>
  <!-- Section -->
    <section class="main accent1">
      <header>
        {%- if page.news_title -%}
        <h2>{{page.news_title | escape}}</h2>
        {%- endif -%}
        {{page.news_intro | markdownify}}
      </header>
      <div class="inner events">
        {%- assign articles = site.news | where: "category", "event" | sort: "date" | reverse -%}

        {%- for article in articles limit: 5  -%}
          <article class="{%- cycle 'post alt', 'post' -%}"class="post"> <!-- to do: .alt logic -->
            <div class="content">
              <header>
                {%- assign date_format = site.relativity.date_format -%}
                {%- assign display_date = article.event_date | default: article.date -%}
                <span class="category">{{ article.category }}</span>
                <h3>{{ article.title | escape }}</h3>
              </header>
              {{ article.excerpt | markdownify }}

              {% if article.category != "brief" %}
              <ul class="actions">
                <li><a href="{{ article.url | relative_url }}" class="button next small">Learn More</a></li>
              </ul>
              {% endif %}
            </div>
            {% if article.image %}
             <div class="image" data-position="center"><img src="{{article.image | relative_url }}" alt="" /></div>
            {% endif %}
          </article>
        {%- endfor -%}
      </div>
    </section>
